<launch>
  <node pkg="ocam" type="ocam" name="ocam" output="screen">
    <param name="resolution"    value="0"/> <!-- 0: 1280x960, 1: 1280x720, 2: 640x480, 3: 640x360 -->
    <param name="frame_rate"    value="30"/>
    <param name="exposure"      value="90"/>
    <param name="gain"          value="80"/>
    <param name="wb_blue"       value="200"/>
    <param name="wb_red"        value="140"/>
    <param name="auto_exposure" value="false"/>
    <param name="show_image"    value="false"/>
  </node>

  <node name="orb_slam2_mono" pkg="orb_slam2_ros"
      type="orb_slam2_ros_mono" output="screen">

      <!-- <remap from="/camera/image_raw" to="/camera/color/image_raw" /> -->

      <param name="publish_pointcloud" type="bool" value="true" />
      <param name="publish_pose" type="bool" value="true" />
      <param name="localize_only" type="bool" value="false" />
      <param name="reset_map" type="bool" value="false" />

      <!-- static parameters -->
      <param name="load_map" type="bool" value="false" />
      <param name="map_file" type="string" value="map.bin" />
      <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />

      <param name="pointcloud_frame_id" type="string" value="map" />
      <param name="camera_frame_id" type="string" value="camera_link" />
      <param name="min_num_kf_in_map" type="int" value="5" />

      <!-- ORB parameters -->
      <param name="/ORBextractor/nFeatures" type="int" value="3000" />
      <param name="/ORBextractor/scaleFactor" type="double" value="1.2" />
      <param name="/ORBextractor/nLevels" type="int" value="8" />
      <param name="/ORBextractor/iniThFAST" type="int" value="20" />
      <param name="/ORBextractor/minThFAST" type="int" value="7" />

      <!-- Camera parameters -->
      <!-- Camera frames per second -->
      <param name="camera_fps" type="int" value="30" />
      <!-- Color order of the images (0: BGR, 1: RGB. It is ignored if images are grayscale) -->
      <param name="camera_rgb_encoding" type="bool" value="true" />

      <!-- Camera calibration parameters -->
      <!--If the node should wait for a camera_info topic to take the camera calibration data-->
      <param name="load_calibration_from_cam" type="bool" value="false" />
      <!-- Camera calibration and distortion parameters (OpenCV) -->
      <param name="camera_fx" type="double" value="964.5" />
      <param name="camera_fy" type="double" value="962.8" />
      <param name="camera_cx" type="double" value="651.3" />
      <param name="camera_cy" type="double" value="361.4" />
       <!-- Camera calibration and distortion parameters (OpenCV) -->
      <param name="camera_k1" type="double" value="-0.4" />
      <param name="camera_k2" type="double" value="0.15" />
      <param name="camera_p1" type="double" value="0.000111" />
      <param name="camera_p2" type="double" value="0.0016" />
      <param name="camera_k3" type="double" value="0.0" />
  </node>
</launch>
